.header-container {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-item {
    margin-bottom: 5px;
}

.info-label {
    font-weight: bold;
}

.logout-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #d4442e;
}
